<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Carbon Time Table</div>
    <div class="panel-body">
      <form ng-submit="vm.submitTime()">
        <div class="form-group">
          <label for="carbonNumber">Carbon Number</label>
          <input type="number" class="form-control" id="carbonNumber" placeholder="Carbon Number" ng-model="vm.number">
        </div>
        <div class="form-group">
          <label for="time">Time</label>
          <input type="number" step="any" class="form-control" id="time" placeholder="Time" ng-model="vm.time">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Carbon Number</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.timeTable">
            <td>{{row.number}}</td>
            <td>{{row.time}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Result</div>
    <div class="panel-body">
      <form ng-submit="vm.submitInput()">
        <div class="form-group">
          <label for="carbonInput">Carbon Input</label>
          <input type="number" step="any" class="form-control" id="carbonInput" placeholder="Carbon Input" ng-model="vm.input">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Input</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in vm.resultTable">
            <td>{{row.input}}</td>
            <td>{{row.result}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>